############################
# Rust
############################

# Cargo build output
target/

# Rust formatter backup files
**/*.rs.bk

############################
# Heightmap runtime folders
############################

MapGenerator/Heightmap/inbox/
MapGenerator/Heightmap/archive/
MapGenerator/Heightmap/failed/

# Adding the heightmap's outbox.
MapGenerator/Heightmap/outbox/*

# Adding the tiler's inbox, because now we are using it :)
MapGenerator/Tiler/inbox/*

# Keep directories but ignore contents
!MapGenerator/Heightmap/inbox/.gitkeep
!MapGenerator/Heightmap/archive/.gitkeep
!MapGenerator/Heightmap/failed/.gitkeep

############################
# Built binaries
############################

# Rust engine binary
MapGenerator/Heightmap/bin/heightmap-engine

############################
# Logs / temp
############################

*.log
*.tmp

############################
# OS / editor noise
############################

.DS_Store
Thumbs.db
.idea/
