[Unit]
Description=PathFinder Worker
After=local-fs.target

[Service]
Type=oneshot
EnvironmentFile=%h/Code/RTSColonyTerrainGenerator/.env
WorkingDirectory=%h/Code/RTSColonyTerrainGenerator/MapGenerator/PathFinder
ExecStart=%h/Code/RTSColonyTerrainGenerator/MapGenerator/PathFinder/bin/consume_pathfinder_job.sh

ReadWritePaths=%h/Code/RTSColonyTerrainGenerator/logs
ReadWritePaths=%h/Code/RTSColonyTerrainGenerator/MapGenerator/PathFinder

Restart=no

[Install]
WantedBy=default.target
